label {
  color: #16262E;
  font-family: arial;
}
.InputBox {
  height: 20px;
  border: none;
  border: 1px solid gray;
  padding: 3px;
  outline: none;
}
.InputBoxDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 375px;
  height: 50px;
  padding: 10px;
}
