.Post {
  height: 50px;
  width: 375px;
  border: 1px solid gray;
  margin: 5px;
  font-family: arial;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.userLink {
  color: #7EA172;
  width: 100px;
  text-align: right;
}
