.postBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#post {
  height: 30px;
  width: 375px;
  margin: 10px;
  border: none;
  color: white;
  background-color: #7EA172;
  outline: none;
}
#post:hover {
  cursor: pointer;
}
